body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(31, 22, 51, 0.992);
}

.case{
  border: 2px solid rgb(232, 232, 23);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}

h3{
  text-align: center;
  color: #fff;
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 20px;
}

hr{
  width: 100%;
  border: 1px solid rgb(232, 232, 23);
}

p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 10px auto;
  color:#fff;
  font-size: 1.5em;
}

.sizeIcon{
  font-size: 2em;
}

.load{
  width: 80px;
  height: 80px;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  h3{
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 10px auto;
    color:#fff;
    font-size: 1.3em;
  }
}